
<div class="form-group">
	<div class="row">
		<div class="col-lg-8">
			<input type="text" placeholder="Username" class="form-control" (keyup.enter)="addNewUser()" [(ngModel)]="userName"> 
		</div>

		<div class="col-lg-2">
			<button class="btn btn-primary" (click)="addNewUser()">Add User</button>
		</div>
	</div>
</div>


<h2>List User Here </h2>


<ul class="list-group">
	<div class="row">
		<div class = "col-lg-12">
			<li class="list-group-item" *ngFor="let userObj of userList" (click)="selectUser($event, userObj.user)">
				{{userObj.user}}	
				<span class="float-right"> <span class="badge badge-default badge-pill">{{userObj.choreCount}}</span>
				<button class="btn btn-danger" (click)="deleteUser(userObj.user)">Delete</button>
				</span>
			</li>
		</div>
	</div>
</ul>


