
<div class="row">
	<div class="col-md-offset-1">
		<h3>Add a User</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
		<div class="alert alert-danger" role="alert" 
		*ngIf="this.userAlreadyExists"> 
			<span class="glyphicon glyphicon-exclamation-sign" 
			aria-hidden="true"></span>
			User already exists in the list!
		</div>
	</div>
</div>

<div class="col-lg-7 col-md-7 col-lg-offset-1 col-md-offset-1">
	<input type="text" placeholder="Username" class="form-control" 
		(keyup.enter)="addNewUser()" [(ngModel)]="userName"> 
</div>

<div class="col-lg-4 col-md-4">
	<button class="btn btn-primary" 
	(click)="addNewUser()">Add User
	</button>
</div>




<div class="row">
	<div class="col-md-offset-1">
	<h3> Users List </h3>
	</div>
</div>

<ul class="list-group">
	<div class="row">
		<div class = "col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1">
			<li class="list-group-item list-group-item-success"
				*ngFor="let userObj of userList" 
				(click)="selectUser($event, userObj.user)">
				<button class="btn btn-default"  
					(click)="deleteUser(userObj.user)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				{{userObj.user}}	

				<span class="badge badge-default badge-pill">
				{{userObj.choreCount}}
				</span>
				
			</li>
		</div>
	</div>
</ul>


