<div class="form-group">
	<div class="row">
		<div class="col-lg-8">
			<input type="text" placeholder="Username" class="form-control" (keyup.enter)="addNewUser()" [(ngModel)]="userName"> 
		</div>

		<div class="col-lg-2">
			<button class="btn btn-primary" (click)="addNewUser()">Add User</button>
		</div>
	</div>
</div>


<h2>List User Here</h2>


<ul class="list-group">
	<li class="list-group-item" *ngFor="let user of userArray" (click)="selectUser($event, user)">
		{{user}}
		<span class="badge badge-default badge-pill">10</span>
		<button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
	</li>
</ul>

