<div *ngIf="currentUser != null">
	<h3 class="text-center" >{{currentUser}}'s To Do List</h3>

	<form #f="ngForm" (ngSubmit)="onAddChore(f)">
		<div class="alert alert-danger" role="alert" *ngIf="this.choreAlreadyExists"> 
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			This chore already exists for this user!
		</div>

		<div class="col-md-3">
			<input type="text" placeholder="Chore Name" class="form-control" name="choreTitle" ngModel>
		</div>
		<div class="col-md-7">
			<input type="text" placeholder="Description (Optional)" class="form-control" name="choreDescription" ngModel>
		</div>
		<button class="btn btn-primary"> Add Task</button>
	</form>

	<hr>

	<ul class="list-group">
	  <li class="list-group-item" *ngFor="let choreItem of choresList">
		<div>
		<p style="color: red" id="title">Chore: {{choreItem.chore}} </p>
		<p style="color: #696969" id="description">
			Description: {{choreItem.description}}
		</p>

		<button class="btn btn-danger" 
			(click)="onDeleteChore(choreItem.chore)">
			<span class="glyphicon glyphicon-trash"> </span>
			Delete
		</button>
		</div>
	  </li>
	</ul>

</div>

