<div *ngIf="currentUser != null">
	<h3 class="text-center" >{{currentUser}}'s To Do List</h3>

	<form #f="ngForm" (ngSubmit)="onAddChore(f)">
		<input type="text" placeholder="Chore Name" class="form-control" name="choreTitle" ngModel>
		<input type="text" placeholder="Description (Optional)" class="form-control" name="choreDescription" ngModel>
		<button class="btn btn-default">Submit</button>
	</form>

	<ul class="list-group">
	<li class="list-group-item" *ngFor="let choreItem of choresList">
		
		<p style="color: red" id="title">{{choreItem.chore}} </p>
		<p style="color: #696969" id="description">{{choreItem.description}}</p>
		<button class="btn btn-danger float-right" (click)="onDeleteChore(choreItem.chore)">Delete</button>
		
	</li>
	</ul>

</div>

